- var email         = 'dmed256@gmail.com?Subject=Hi'
- var disqusEnabled = true;

//---[ General Purpose ]----------------
mixin nl(px)
  br(style="line-height: #{px}px")

//---[ Highlight ]----------------------
mixin link(text, url)
  a.link(href='#{url}') #{text}

// Red
mixin hlR(str)
  span.highlight(style="color: #B95B4E")
    | #{str}

// Green
mixin hlG(str)
  span.highlight(style="color: #2BB399")
    | #{str}

// Blue
mixin hlB(str)
  span.highlight(style="color: #617EB2")
    | #{str}

// Purple
mixin hlP(str)
  span.highlight(style="color: #CF8BC7")
    | #{str}

// Orange
mixin hlO(str)
  span.highlight(style="color: #ED9C2D")
    | #{str}

//---[ Code ]---------------------------
mixin code(str)
  code.cpp.api.inline.code.block(style="color: rgb(81, 134, 174)")
    | #{str}

mixin codeHL(str)
  code.cpp.api.inline.code.block.boxed(style="color: rgb(81, 134, 174)")
    | #{str}

//---[ Auto-generation ]----------------
mixin socialIcons
  a.tooltip(href="mailto:#{email}", tooltip="Email")
    i.large.mail.outline.link.icon
  a.tooltip(href="https://github.com/dmed256", tooltip="Github")
    i.large.github.square.link.icon
  a.tooltip(href="https://twitter.com/dmed256?>", tooltip="Twitter")
    i.large.twitter.outline.link.icon
  a.tooltip(href="http://www.linkedin.com/in/dmed256", tooltip="LinkedIn")
    i.large.linkedin.square.sign.link.icon

mixin feed(info)
  .feed.ui.raised.segment(class='#{info.color}')
    .container
      .ui.ribbon.label
        | #{info.date}
      h4.ui.dividing.header
        | #{info.title}

    div(style="max-height: 9999999px")
      block

    .corner

mixin youtube(url)
  .youtubeContainer2
    .youtubeContainer
      iframe.youtube(src='#{url}?autohide=1&controls=0&showinfo=0', allowfullscreen, frameborder='0')

mixin disqus(id)
  if disqusEnabled
    #disqus_thread
    script.
      var disqus_shortname  = 'dsmedina';
      var disqus_url        = 'http://dsmedina.com/posts/#{id}';

      //  Need HTTPS certificate =/
      //- function disqus_config(){
      //-   this.callbacks.onReady = [function(){
      //-     var iframe = $('iframe[data-disqus-uid]');
      //-     var footer = iframe.contents().find('#footer');

      //-     console.log(footer);

      //-     footer.remove();
      //-   }];
      //- }

      (function(){
        var dsq = document.createElement('script');

        dsq.type  = 'text/javascript';
        dsq.async = true;
        dsq.src   = '//' + disqus_shortname + '.disqus.com/embed.js';

        (document.getElementsByTagName('head')[0] ||
         document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();