- var email = 'dmed256@gmail.com?Subject=Hi'

//---[ Highlight ]----------------------
mixin hl(str)
  +hlGreen(str)

mixin hl2(str)
  +hlPurple(str)

mixin hl3(str)
  +hlOrange(str)

mixin hlGreen(str)
  span.highlight(style="color: #2BB399")
    | #{str}

mixin hlPurple(str)
  span.highlight(style="color: #CF8BC7")
    | #{str}

mixin hlOrange(str)
  span.highlight(style="color: #ED9C2D")
    | #{str}


//---[ Code ]---------------------------
mixin code(str)
  code.cpp.api.inline.code.block(style="color: rgb(81, 134, 174)")
    | #{str}

mixin codeHL(str)
  code.cpp.api.inline.code.block.boxed(style="color: rgb(81, 134, 174)")
    | #{str}

//---[ Auto-generation ]----------------
mixin socialIcons
  a.tooltip(href="mailto:#{email}", tooltip="Email")
    i.large.mail.outline.link.icon
  a.tooltip(href="https://github.com/dmed256", tooltip="Github")
    i.large.github.square.link.icon
  a.tooltip(href="https://twitter.com/dmed256?>", tooltip="Twitter")
    i.large.twitter.outline.link.icon
  a.tooltip(href="http://www.linkedin.com/in/dmed256", tooltip="LinkedIn")
    i.large.linkedin.square.sign.link.icon

mixin feed(info)
  .feed.ui.raised.segment(class='#{info.color}')
    .container
      .ui.ribbon.label
        | #{info.date}
      h4.ui.dividing.header
        | #{info.title}

    div(style="max-height: 9999999px")
      block

    .corner

mixin youtube(url)
  .youtubeContainer2
    .youtubeContainer
      iframe.youtube(src='#{url}?autohide=1&controls=0&showinfo=0', allowfullscreen, frameborder='0')